body {
    background-color: rgb(215, 215, 215);
}

footer {
    background-color: whitesmoke;
    border-radius: 30px;
    color: #333;
    text-align: center;
    padding: 10px;
    left: 25%;
    position: fixed;
    bottom: 20px;
    width: 50%;
    box-shadow: #757575 0px 4px 6px -1px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: #757575 0px 4px 6px -1px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.navbar a.active {
    border-bottom: 2px solid #0077cc;
    font-weight: bold;
    color: #0077cc;
}

.navbar img {
    margin: 0;
    width: 40px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 40px;
}

.menu li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu li a:hover {
    color: #0077cc;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s ease-out;
}

.container {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
